<web-app>
 
     <servlet>
          <servlet-name>first</servlet-name>
          <servlet-class>com.servlet.examples.MyServlet</servlet-class>
     </servlet>
 
     <servlet-mapping>
           <servlet-name>first</servlet-name>
           <url-pattern>/firstHelloWorld</url-pattern>
     </servlet-mapping>
 
</web-app>